<div *ngIf="location; else loading">
  {{ suggestion.suggestionID }}<br>
  {{ suggestion.author }}<br>
  {{ suggestion.date }}<br><br>
  {{ suggestion.name }} | {{ location.name }}<br>
  {{ suggestion.description }} | {{ location.description }}<br>
  {{ floors[suggestion.floor] }} | {{ floors[location.floor] }}<br>
  {{ suggestion.landmark }} | {{ location.landmark }}<br>
  {{ suggestion.latitude }} | {{ location.latitude }}<br>
  {{ suggestion.longitude }} | {{ location.longitude }}<br>
  <mat-card>
    <mat-card-content>
      <p>
        <b>Name:</b> {{ location.name }}
      </p>
      <p>
        <b>Description:</b> {{ location.description }}
      </p>
      <p>
        <b>Floor:</b> {{ floors[location.floor] }}
      </p>
      <p>
        <b>Landmark:</b> {{ location.landmark }}
      </p>
      <p>
        <b>Latitude:</b> {{ location.latitude }}
      </p>
      <p>
        <b>Longitude:</b> {{ location.longitude }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <br>
      <br>
    </mat-card-actions>
  </mat-card>
  <mat-card>
      <mat-card-content>
        <p>
          <b>Name:</b> {{ suggestion.name }}
        </p>
        <p>
          <b>Description</b> {{ suggestion.description }}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="approveSuggestion()">Approve</button>
        <button mat-raised-button routerLink="edit">Edit</button>
        <button mat-raised-button color="warn" (click)="deleteSuggestion()">Delete</button>
      </mat-card-actions>
    </mat-card>
  
</div>
<div>
  <div style="display: inline" *ngIf="isAdmin()">
    <button mat-raised-button color="primary" (click)="approveSuggestion()">Approve</button>
    <button mat-raised-button color="warn" (click)="deleteSuggestion()">Delete</button>
  </div>
  <button mat-raised-button routerLink="edit">Edit</button>
  <br>
  <button mat-raised-button (click)="goBack()">Go back</button>
</div>
<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>