<mat-form-field>
  <input matInput placeholder="Filter locations" #filter>
</mat-form-field>

<div class="spinner-container" *ngIf="dataSource.loading$ | async">
    <mat-spinner></mat-spinner>
</div>

<mat-table #table [dataSource]="dataSource" 
  matSort matSortActive="id" matSortDirection="asc" matSortDisableClear 
  (mouseleave)="hoverIndex = null">
  <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
      <mat-cell *matCellDef="let location;"> {{location.id}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let location"> {{location.name}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="floor">
    <mat-header-cell *matHeaderCellDef> Floor </mat-header-cell>
    <mat-cell *matCellDef="let location"> {{location.floor}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="controls">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let location; let i = index">
      <div *ngIf="hoverIndex==i">
        <a routerLink="../detail/{{location.id}}" mat-button color="primary">View</a>
        <a routerLink="../edit/{{location.id}}" mat-button color="primary">Edit</a>
        <button mat-button color="primary">Make Suggestion</button>
      </div>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; let i = index; columns: displayedColumns" (mouseover)="hoverIndex=i"></mat-row>
</mat-table>
  
<mat-paginator [length]="30" [pageSizeOptions]="[ 5, 10, 25, 100]"></mat-paginator>
