<div *ngIf="location; else loading">
  {{ suggestion.id }}<br>
  {{ suggestion.author }}<br>
  {{ suggestion.date }}<br><br>
  {{ suggestion.location.id }}<br>
  {{ suggestion.location.name }} | {{ location.name }}<br>
  {{ suggestion.location.description }} | {{ location.description }}<br>
  {{ floors[suggestion.location.floor] }} | {{ floors[location.floor] }}<br>
  {{ suggestion.location.landmark }} | {{ location.landmark }}<br>
  {{ suggestion.location.latitude }} | {{ location.latitude }}<br>
  {{ suggestion.location.longitude }} | {{ location.longitude }}<br>
  <button mat-raised-button color="primary" (click)="approveSuggestion()">Approve</button>
  <button mat-raised-button routerLink="../../edit/{{suggestion.id}}">Edit</button>
  <button mat-raised-button color="warn">Delete</button>
  <button mat-raised-button (click)="goBack()">Go back</button>
</div>
<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>