<div *ngIf="suggestion; else loading">
    <app-person-suggestion-detail-card *ngIf="person" style="display: inline-block" [person]="person"></app-person-suggestion-detail-card>
    <i *ngIf="person" class="material-icons md-36">arrow forward</i>
    <app-person-suggestion-detail-card style="display: inline-block" [person]="suggestion"></app-person-suggestion-detail-card>
  </div>
  <br>
  <div>
    <div style="display: inline-block" *ngIf="isAdmin()">
      <button mat-raised-button color="primary" (click)="approveSuggestion()">Approve</button>
      <button mat-raised-button color="warn" (click)="deleteSuggestion()">Delete</button>
    </div>
    <button mat-raised-button routerLink="edit">Edit</button>
    <br>
    <br>
    <button mat-raised-button (click)="goBack()">Go back</button>
  </div>
  <ng-template #loading>
    <mat-spinner></mat-spinner>
  </ng-template>