<mat-card class="example-card">
    <mat-card-content>
      <p>
        <span *ngIf="location.author"><b>Author: </b>{{ location.author }}</span>
      </p>
      <p>
        <span *ngIf="location.date"><b>Date: </b>{{ location.date }}</span>
      </p>
      <p>
        <b>Name: </b>{{ location.name }}
      </p>
      <p>
        <b>Description: </b>{{ location.description }}
      </p>
      <p>
        <b>Floor: </b>{{ floors[location.floor] }}
      </p>
      <p>
        <b>Landmark: </b>{{ location.landmark }}
      </p>
      <p>
        <b>Latitude: </b>{{ location.latitude }}
      </p>
      <p>
        <b>Longitude: </b>{{ location.longitude }}
      </p>
      <p>
        <b>Tags: </b>
        <mat-chip-list>
          <mat-chip *ngFor="let tag of tags">{{ tag }}</mat-chip>
        </mat-chip-list>
      </p>
    </mat-card-content>
  </mat-card>