<div *ngIf="searchData$ | async as searchData; else loading">
  {{ searchData.data[0].name }}<br>
  {{ searchData.data[0].description }}<br>
  {{ searchData.data[0].landmark }}<br>
  {{ floors[searchData.data[0].floor] }}<br>
  {{ searchData.data[0].latitude }}<br>
  {{ searchData.data[0].longitude }}<br>
  <a routerLink="/suggestions/locations/{{searchData.data[0].name}}/edit" mat-raised-button color="primary">Suggest changes</a>
  <button mat-raised-button (click)="goBack()">Back</button>
</div>
<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
